img{
    width: 210px;
    margin-top: 15px;
}
/* .big-container{
    margin: 0 auto;
    padding: 20px;
} */
.css{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.map{
    width: 300px;
}
.send{
    background-color: grey;
}

nav{
    text-align: center;
}
.big-container{
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

/* upload website to github account:active website */

/* upload mobile website */






















